.admin__content {
    width: 25%;
    margin: 200px auto;
}

@media screen and (max-width: 768px) {
    .admin__content {
        width: 50%;
    }
}

.representative__create {
    margin-bottom: 30px;
}

.representative__link {
    display: inline-block;
    text-decoration: none;
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.notification__email {
    margin-bottom: 30px;
}

.email__link {
    display: inline-block;
    text-decoration: none;
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.newreview__content {
    margin-bottom: 30px;
}

.newreview__link {
    display: inline-block;
    text-decoration: none;
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.admin__logout button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}