.csv-form {
    width: 100%;
    margin: auto;
}

.back__btn {
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.csv-form__back {
    margin: 10px 0;
}

.csv__ttl--text {
    font-size: 30px;
    margin: 0;
}

.csv__input {
    width: 100%;
    height: 300px;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.first__line {
    text-align: center;
    font-size: 18px;
}

.second__line {
    text-align: center;
    font-size: 14px;
}

.csv__button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.csv__button button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .csv__button button {
        width: 200px;
    }
}

.csv-form__error-message {
    color: #f00;
    margin: 0;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .csv-form__error-message {
        font-size: 12px;
    }
}