.representative__content {
    width: 25%;
    margin: 200px auto;
}

@media screen and (max-width: 768px) {
    .representative__content {
        width: 50%;
    }
}

.shop__create {
    margin-bottom: 30px;
}

.create__button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.shop__csv {
    margin-bottom: 30px;
}

.csv__button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.shop__edit {
    margin-bottom: 30px;
}

.edit__button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.shop__reservation {
    margin-bottom: 30px;
}

.reservation__button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.representative__logout button {
    background: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}