.change__content {
    background-color: #305DFF;
    padding: 10px 30px 50px;
    border-radius: 4px 4px 0 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 100px auto 0;
}

.change__ttl {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.back__btn {
    height: 30px;
    background-color: #305DFF;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.ttl__text {
    color: #fff;
    font-size: 24px;
}

.shop__name {
    color: #fff;
    font-size: 20px;
}

.shop__detail {
    text-decoration: none;
    background: #305DFF;
    border: 3px solid #fff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 16px;
}

.change__date {
    margin-bottom: 30px;
}

.change__date input {
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}

.change__time {
    position: relative;
    margin-bottom: 30px;
}

.change__number {
    position: relative;
    margin-bottom: 30px;
}

.select__pointer::before {
    position: absolute;
    content: "";
    top: 30%;
    right: 11%;
    height: 12px;
    width: 20px;
    background: #ddd;
    clip-path: polygon(0 0, 50% 30%, 100% 0, 50% 100%);
}

.change__time select {
    appearance: none;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}

.change__number select {
    appearance: none;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}

.change-form__error-message {
    color: #fff;
}

.change__btn {
    text-align: center;
}

.change__btn button {
    color: #fff;
    font-size: 16px;
    background-color: #0538FF;
    border: 1px solid #0538FF;
    border-radius: 0 0 4px 4px;
    width: 50%;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.reservation-form__error-message {
    color: #fff;
}