.detail__contet {}

.detail__ttl {
    display: flex;
    align-items: center;
}

.back__btn {
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.ttl__text {
    margin-left: 10px;
}

.detail__image img {
    width: 50%;
    border-radius: 4px 4px 0 0;
}

.detail__tag {
    font-size: 16px;
    margin: 30px 0;
}

.detail__tag-area {
    display: inline-block;
    margin: 0;
}

.detail__tag-genre {
    display: inline-block;
    margin: 0;
}

.detail__overview {
    font-size: 16px;
    width: 50%;
}